<form [formGroup]="formEmployee" class="example-form">
  <nb-card status="success">
    <nb-card-header style="background-color: #679c4d;"
      >Thông tin nhân viên</nb-card-header
    >
    <nb-card-body>
      <!-- Company Name -->
      <mat-form-field *ngIf="isEdit === true" class="example-3-width">
        <input
          matInput
          placeholder="Tên nhân viên"
          [formControl]="formEmployee.controls.name"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="formEmployee.controls.name.hasError('required')">
          Tên nhân viên không được trống
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="isEdit === false" class="example-3-width">
        <input
          matInput
          style="color: #000000;"
          placeholder="Tên nhân viên"
          disabled
          [value]="employee?.name"
        />
      </mat-form-field>
      <!-- Phone Number -->
      <mat-form-field *ngIf="isEdit === true" class="example-3-width">
        <input
          matInput
          maxlength="11"
          [disabled]="!onRequest"
          placeholder="Số điện thoại"
          [formControl]="formEmployee.controls.phoneNumber"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="formEmployee.controls.phoneNumber.hasError('required')"
        >
          Số điện thoại không được trống
        </mat-error>
        <mat-error
          *ngIf="formEmployee.controls.phoneNumber.hasError('pattern')"
        >
          Số điện thoại không đúng định dạng
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="isEdit === false" class="example-3-width">
        <input
          style="color: #000000;"
          matInput
          placeholder="Số điện thoại"
          disabled
          [value]="employee?.phoneNumber"
        />
      </mat-form-field>
      <!-- IdentityCard -->
      <mat-form-field *ngIf="isEdit === true" class="example-3-width">
        <input
          matInput
          [disabled]="!onRequest"
          placeholder="Số chứng minh nhân dân"
          [formControl]="formEmployee.controls.identityCard"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="formEmployee.controls.identityCard.hasError('required')"
        >
          Số chứng minh nhân dân không được trống
        </mat-error>
        <mat-error *ngIf="formEmployee.controls.identityCard.hasError('range')">
          Số chứng minh nhân dân phải là 9 hoặc 12 số
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="isEdit === false" class="example-3-width">
        <input
          style="color: #000000;"
          matInput
          placeholder="Số chứng minh nhân dân"
          disabled
          [value]="employee?.identityCard"
        />
      </mat-form-field>

      <!-- address -->
      <mat-form-field *ngIf="isEdit === true" class="example-3-width">
        <input
          matInput
          [disabled]="!onRequest"
          placeholder="Địa chỉ"
          [formControl]="formEmployee.controls.address"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="formEmployee.controls.address.hasError('required')">
          Địa chỉ không được trống
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="isEdit === false" class="example-3-width">
        <input
          style="color: #000000;"
          matInput
          placeholder="Địa chỉ"
          disabled
          [value]="employee?.address"
        />
      </mat-form-field>
      <!-- birthday -->
      <mat-form-field *ngIf="isEdit === true" class="example-3-width">
        <input
          matInput
          autocomplete="off"
          (ngModelChange)="compareTwoDates()"
          [matDatepicker]="birthDayPicker"
          placeholder="Ngày sinh"
          [formControl]="formEmployee.controls.birthday"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthDayPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthDayPicker></mat-datepicker>
        <mat-error
          *ngIf="
            formEmployee.controls.birthday.hasError('dateValidator') &&
            !formEmployee.controls.birthday.hasError('matDatepickerParse')
          "
        >
          Tuổi phải từ 15 - 65
        </mat-error>
        <mat-error
          *ngIf="formEmployee.controls.birthday.hasError('matDatepickerParse')"
        >
          Vui lòng nhập đúng định dạng ngày sinh
        </mat-error>
        <mat-error *ngIf="formEmployee.controls.birthday.hasError('required')">
          Vui lòng nhập đúng định dạng ngày sinh
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="isEdit === false" class="example-3-width">
        <input
          style="color: #000000;"
          matInput
          placeholder="Ngày sinh"
          disabled
          [value]="onConvertDate(employee?.birthday)"
        />
      </mat-form-field>
      <!-- Gender -->
      <mat-form-field *ngIf="isEdit === true" class="example-3-width">
        <mat-select
          [formControl]="formEmployee.controls.gender"
          placeholder="Giới tính"
        >
          <mat-option value="1"> Nam</mat-option>
          <mat-option value="0"> Nữ</mat-option>
        </mat-select>
        <mat-error *ngIf="formEmployee.controls.gender.hasError('pattern')">
          Giới tính sai định dạng
        </mat-error>
        <mat-error *ngIf="formEmployee.controls.gender.hasError('required')">
          Vui lòng chọn giới tính
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="isEdit === false" class="example-3-width">
        <input
          style="color: #000000;"
          matInput
          placeholder="Giới tính"
          disabled
          [value]="convertGender(employee?.gender)"
        />
      </mat-form-field>
    </nb-card-body>
    <button
      *ngIf="isEdit === false"
      style="margin-top: 20px"
      nbButton
      fullWidth
      [matTooltip]="'admin.detailCompany.edit' | translate"
      (click)="toggleEdit()"
      status="info"
    >
      <span> {{ "admin.detailCompany.edit" | translate }}</span>
    </button>
    <button
      *ngIf="isEdit === true"
      style="margin-top: 20px"
      nbButton
      fullWidth
      [matTooltip]="'admin.detailCompany.save' | translate"
      [disabled]="formEmployee.invalid || onSubmit"
      (click)="onUpdateEmployee()"
      status="primary"
    >
      <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate"
        *ngIf="onSubmit"
        strokeWidth="2"
        diameter="20"
      ></mat-progress-spinner>
      <span *ngIf="!onSubmit">
        {{ "admin.detailCompany.save" | translate }}</span
      >
    </button>
    <button
      *ngIf="isEdit === true"
      style="margin-top: 20px"
      nbButton
      fullWidth
      [disabled]="onSubmit"
      [matTooltip]="'admin.detailCompany.cancel' | translate"
      (click)="toggleEdit()"
      status="danger"
    >
      <span> {{ "admin.detailCompany.cancel" | translate }}</span>
    </button>
  </nb-card>
</form>
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .example-form {
    min-width: 150px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
  .example-half-width {
    width: calc(50% - 20px);
    margin: 10px 10px;
  }
  .example-3-width {
    width: calc(100% / 3 - 20px);
    margin: 10px 10px;
  }
</style>
