
.idea/

NTSoftware.Core.Models/bin/

NTSoftware.Core.Models/obj/

NTSoftware.Core.Shared/bin/

NTSoftware.Core.Shared/obj/

NTSoftware.Repository/bin/

NTSoftware.Repository/obj/

NTSoftware.Repository.Interface/bin/

NTSoftware.Repository.Interface/obj/

NTSoftware.Service/bin/

NTSoftware.Service/obj/

NTSoftware.Service.Interface/bin/

NTSoftware.Service.Interface/obj/

.vs/

NTSoftware/Migrations/

AuthenTest/obj/
