<h6 mat-dialog-title>
   Xác nhận xóa
  </h6>
  <div mat-dialog-content>
    <p>Bạn có muốn xóa nhân viên <strong> {{data.name}}?</strong></p>
  </div>
  <div mat-dialog-actions>
    <button [disabled]="onRequest" mat-button [mat-dialog-close] cdkFocusInitial>
      Hủy
    </button>
    <button [disabled]="onRequest" mat-raised-button color="warn" mat-button (click)="onSubmit()">
      
      <span *ngIf="!onRequest">Xóa</span>
      <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
      *ngIf="onRequest"
      strokeWidth="2"
      diameter="35"
    ></mat-progress-spinner>
    </button>
  </div>
  