<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <!-- <a class="logo" routerLink="/auth"><img
      height="50"
      width="100"
      class="resize"
      [src]="pathAvatar"
      alt="Logo"
    /></a> -->
    <a class="logo" routerLink="/auth">NTSOFTWARE</a>
  </div>
</div>

<div class="header-container-right">
  <nb-actions size="small">
    <nb-action class="user-action">
      <nb-user
        [nbContextMenu]="userMenu"
        [onlyPicture]="userPictureOnly"
        [name]="currentUser?.Name"
        nbContextMenuTag="my-context-menu"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
<style>
img.resize {
  max-width:50%;
  max-height:50%;
}</style>