<form [formGroup]="formChange" class="example-form">
  <mat-form-field class="example-full-width">
    <input
      matInput
      type="password"
      autocomplete="off"
      [placeholder]="'profile.oldPassword' | translate"
      [formControl]="formChange.controls.oldPassword"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="formChange.controls.oldPassword.hasError('required')">
      {{ "profile.emptyOld" | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      type="password"
      autocomplete="off"
      [placeholder]="'profile.newPassword' | translate"
      [formControl]="formChange.controls.newPassword"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="formChange.controls.newPassword.hasError('required')">
      {{ "profile.emptyConfirm" | translate }}
    </mat-error>
    <mat-error *ngIf="formChange.controls.newPassword.hasError('pattern')">
      {{ "profile.errorNewPassword" | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      pattern="{{ formChange.controls.newPassword.value }}"
      type="password"
      autocomplete="off"
      [placeholder]="'profile.confirmPassword' | translate"
      [formControl]="formChange.controls.confirmPassword"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="formChange.controls.confirmPassword.hasError('pattern')">
      {{ "profile.errorConfirm" | translate }}
    </mat-error>
    <mat-error *ngIf="formChange.controls.confirmPassword.hasError('required')">
      {{ "profile.emptyConfirm" | translate }}
    </mat-error>
  </mat-form-field>
  <button
    style="margin-top: 20px"
    nbButton
    fullWidth
    [disabled]="formChange.invalid || onSubmit"
    (click)="onChangePassword()"
    status="success"
  >
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
      *ngIf="onSubmit"
      strokeWidth="2"
      diameter="20"
    ></mat-progress-spinner>
    <span *ngIf="!onSubmit"> {{ "profile.save" | translate }}</span>
  </button>
</form>
<style>
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
</style>
